@using WebApplication1.Models;

<div id="mainContainer">
    <div id="divCalendarTable">
        @{
            const int rows = 6;
            const int columns = 7;

            string n = string.Empty;

            string[] cellText = new string[rows * columns];

            for (int i = 0; i < rows; i++)
            {
                n += @"<tr class='" + (i % 2 == 0 ? "oddrow" : "evenrow") + @"'>";

                for (int j = 0; j < columns; j++)
                {
                    cellText[j + i * columns] = string.Empty;

                    n += @"<td class='calendarCell" + (j < 5 ? "Weekdays" : "Holydays") + "' id='calendarCell" + (j + i * columns).ToString() + "'>" + cellText[j + i * columns] + @"</td>";
                }

                n += @"</tr>";
            }

            string myDofW = "";

            for (var r = 0; r < columns; r++)
            {
                myDofW += @"<td class='calendarHead" + (r < 5 ? "Weekdays" : "Holydays") + "'>" + (MyDaysOfWeek)r + @"</td>";
            }

            string monthRow = @"<tr><td class='monthCell' id='prevMonth'>Previous</td><td class='monthCell' colspan = '5' id='selectedMonthCell'></td><td class='monthCell' id='nextMonth'>Next</td></tr>";

            string result = @"<table id='calendarTable'><thead><tr><th class='calendarHeader' colspan = '7'>Calendar</th></tr></thead><tr>" + monthRow + myDofW + @"</tr><tbody>" + n + @"</tbody></table>";
        }

        @Html.Raw(result)

    </div>

    <script src="~/Scripts/FillCalendar.js?v=@DateTime.Now"></script>

    <div id="divRecordsTable">
        <table id="recordsTable">
            <thead id="recordsHead">
                <tr>
                    @{ 
                        string shortDate = DateTime.Now.Day.ToString() + "." + DateTime.Now.Month.ToString() + "." + DateTime.Now.Year.ToString();
                    }
                    <th class="recordsHeader" id="selDateHeader" colspan='12'>@shortDate</th>
                </tr>
            </thead>
            <tbody>
                <tr id="recordsAddRow">
                    <td class="recordsAddCell" colspan='12'>
                        <form action="/" method="post">
                            <input type="time" name="recTime" id="inputRecTime" />
                            <input type="text" name="recText" id="inputRecText" />
                            <input type="button" name="submit" value="AddRec" id="inputRecSubmit" />
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="~/Scripts/FillRecords.js?v=@DateTime.Now"></script>

    <script src ="~/Scripts/RecordsHandler.js?v=@DateTime.Now"></script>

    <div id="editRecDiv">
        <table id="editRecTable">
            <tr>
                <td class="editRecordsCell" id="editIdCell"></td>
                <td class="editRecordsCell" id="editDateCell" colspan="12">Date</td>
            </tr>
            <tr>                
                <td class ="editRecordsCell" id ="editTimeCell" colspan="2">Time</td>
                <td class ="editRecordsCell" id="editTitleCell" colspan="8">Name</td>
                <td class ="editRecordsCell" id ="editStatusCell" colspan="2">
                    <select>
                        <option id ="editToStart" value="ToStart">ToStart</option>
                        <option id="editInProgress" value="InProgress">InProgress</option>
                        <option id="editDone" value="Done">Done</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class ="editRecordsCell" id="editDescCell" colspan="12">Description</td>
            </tr>
            <tr>
                <td class ="editRecordsCell" colspan="12">Save</td>
            </tr>
        </table>
    </div>

</div>


