body {
    font-size: 18px;
}

#mainContainer {
    width: 98%;
    border: 1px solid grey;
    border-collapse: collapse;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
}

input {
    color: darkblue;
    font-size: 16px;
}

select {
    color: darkblue;   
}

#divCalendarTable {
    width: 48%;
    border: 1px solid grey;
    border-collapse: collapse;
    margin-left: 15px;
    margin-top: 15px;
    float: left;
    margin-bottom: 15px;
}

#calendarTable {
    border: 1px solid grey;
    text-align: center;
    width: 95%;
    table-layout: fixed;
    border-collapse: collapse;
    display: table;
    margin: 15px auto 15px auto;
}

.calendarHeader {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 50px;
    color: darkblue;
}

    .calendarHeader:hover {
        background-color: #c6c6c6;
    }

.monthCell {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 60px;
    color: darkblue;
}

    .monthCell:hover {
        background-color: #c6c6c6;
    }

.calendarCellWeekdays {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 70px;
    color: darkblue;
}

    .calendarCellWeekdays:hover {
        background-color: #c6c6c6;
    }

.calendarCellHolydays {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 70px;
    color: red;
}

    .calendarCellHolydays:hover {
        background-color: #c6c6c6;
    }

.calendarHeadWeekdays {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 50px;
    color: darkblue;
}

.calendarWeekdays:hover {
    background-color: #c6c6c6;
}

.calendarHeadHolydays {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 50px;
    color: red;
}

    .calendarHeadHolydays:hover {
        background-color: #c6c6c6;
    }

#editRecDiv {
    width: 47%;
    border: 1px solid grey;
    border-collapse: collapse;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    margin-bottom: 15px;
}

#editRecTable {
    border: 1px solid grey;
    text-align: center;
    width: 95%;
    table-layout: fixed;
    border-collapse: collapse;
    display: table;
    margin: 15px auto 15px auto;
}

#divRecordsTable {
    width: 47%;
    border: 1px solid grey;
    border-collapse: collapse;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    float: right;
    margin-bottom: 15px;
}

#recordsTable {
    border: 1px solid grey;
    text-align: center;
    width: 95%;
    table-layout: fixed;
    border-collapse: collapse;
    display: table;
    margin: 15px auto 15px auto;
}

.recordsHeader {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 50px;
    color: darkblue;
}

    .recordsHeader:hover {
        background-color: #c6c6c6;
    }

.recordsCell {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 60px;
    color: darkblue;
}

    .recordsCell:hover {
        background-color: #c6c6c6;
    }

.recordsCellTitle {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 60px;
    color: darkblue;
}

    .recordsCellTitle:hover {
        background-color: #c6c6c6;
    }

.recordsCellStatus {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 60px;
    color: darkblue;
}

    .recordsCellStatus:hover {
        background-color: #c6c6c6;
    }

.recordsAddCell {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 45px;
    color: darkblue;
}

.selectStatus {
    color: darkblue;
}

#inputRecTime {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: darkblue;
}

#inputRecText {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 70%;
    color: darkblue;
}

#inputRecSubmit {
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.editRecordsCell {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 60px;
    color: darkblue;
}

#editRecordDescCell {
    border: 1px solid grey;
    border-collapse: collapse;
    height: 180px;
    color: darkblue;
}

#editIdCell {
    display: none;
}
